body, html {
    height: 100%;
  }
  
  @font-face {
    font-family: NEON;
    src: url(NEON.TTF);
  }
  .bg {
    /* The image used */
    background-image: url("/images/bg-brick.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

.navbar{
    color: #00a8ff;
    text-shadow: 2px 2px 5px  #00a8ff;
}

.LOGO{
  height: 80vh;
}

.game-btn{
  font-family: NEON;
  color: #00a8ff;
  font-size: 5rem;
  text-shadow: 1px 8px 16px #00c3ff91
}



.navbar{
  font-family: NEON;
}
#exampleInputEmail1{
  border-width:0px;
border:none;
outline:none;

}
.modal-body, .modal-header{
  background-color: black;
}
.modal-body label{
  color: #00a8ff;
  font-family: NEON;
}

.modal-body{
  border: 5px solid #c3e5f0;
  box-shadow: 0px 0px 15px #00ccff;
}

.game-btn:hover{
  color: #c3e5f0;
  text-shadow: 0px 0px 20px #00c3ff91;
  cursor: pointer;
}

.submit-btn {
  font-family: NEON;
  color: #00a8ff;
  font-size: 2rem;
  background-color: black;
  text-shadow: 1px 8px 16px #00c3ff91
  box-shadow: 5px;
}

.submit-btn:hover {
  font-family: NEON;
  color: #00a8ff;
  font-size: 2rem;
  text-shadow: 1px 8px 16px #00c3ff91
}

.form-title{
  font-family: NEON;
  color: #c3e5f0;
  text-shadow: 0px 0px 20px #00c3ff91;
}
#map {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: red;
  display: block;
}

html, body {
  height: 100%;
}

.fill { 
  min-height: 100%;
  height: 100%;
}

#game-title {
  font-family: NEON;
  color: #c3e5f0;
  text-shadow: 0px 0px 20px #00c3ff91;
}

#instructions {
  font-family:Arial, Helvetica, sans-serif;
  text-size:0.5rem;
  text-shadow: 0px 0px 20px;
  background-color:#c3e5f0;
}

#questions {
  background-color: black;
  color:white;
}

.game-layout {
  text-align: center;
  margin-left: auto;
    margin-right: auto;
    width: 65em
  
}