
<div class="container-Fluid">
  <div class="col-12 d-flex justify-content-center">
    <div class="card">
  <h5 class="card-header">Waiting for other player to join</h5>
  <div class="card-body">
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://localhost:3001/play/{{uuid}}" alt="">
  </div>
</div>
  </div>

</div>
<script>
  var socket = io();

  var btn = document.getElementById('click');

  btn.addEventListener('click', function(e) {
      socket.emit('chat message', 'blabla');
  });
</script>