<div>
  <h2>HighScores</h2>
    
    <div class="col-lg-10">
      <h2>HighScores</h2>
    
      <div class=" col-sm-10">
        <table class="modal-content table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Nickname</th>
                <th scope="col">Highscore</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
              </tr>
              <tr>
                <th scope="row">2</th>
              </tr>
              <tr>
                  <th scope="row">3</th>
                  <td colspan="2"></td>
              </tr>
              </tbody>
        </table>        
      </div>
        <button class="submit-btn" onclick="init()">Go Back</button>
        <button class="submit-btn" onclick="clearScore()">Clear All Highscores</button>
    
    </div>