<div class="container h-100">
  <div class="row align-items-center">
    <div class="col">
      <img src="/images/LOGO.png" alt="guess the opinion logo" class="LOGO">
    </div>
    <div class="col">
      <div>
        <span class="game-btn" id="joinGame">JOIN</span>
      </div>
        <div>
          <span class="game-btn" id="newGame" data-bs-toggle="modal" data-bs-target="#newGameModal">NEW GAME</span>
      </div>
    </div>
  </div>
</div>
{{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
 --}}

<!-- Modal login-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body rounded">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
<form id="loginForm">
  <div>
  <h3 class="form-title">LOGIN</h3>

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <a id="loginSubmit" class="game-btn">GO</a>
  <div class="mb-3">
    <a class="createAccount" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Don't have an account ?</a>
  </div>
</form>
      </div>
    </div>
  </div>
</div>

{{!-- <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1"> --}}


<!-- Modal register-->
<div class="modal fade" id="exampleModalToggle2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body rounded">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
<form id="rgisterForm">
  <div>
  <h3 class="form-title">Register</h3>

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="registerEmail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="registerPassword">
  </div>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Username</label>
    <input type="text" class="form-control" id="registerUsername">
  </div>
  <a id="registerSubmit" class="game-btn">GO</a>
  <div class="mb-3">
    <a class="createAccount" data-bs-target="#exampleModal" data-bs-toggle="modal" data-bs-dismiss="modal">Have an account?</a>
  </div>
</form>
      </div>
    </div>
  </div>
</div>


<!-- Modal new game-->
<div class="modal fade" id="newGameModal" tabindex="-1" aria-labelledby="newGameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body rounded">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
<form id="newGame">
  <div>
  <h3 class="form-title">Start New Game</h3>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">How many players?</label>
    <input type="number" class="form-control" id="players" aria-describedby="emailHelp">
  </div>
  <a id="play-btn" class="game-btn">PLAY</a>
</form>
      </div>
    </div>
  </div>
</div>



{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{else}}
<script src="/javascript/login.js"></script>
{{/if}}
<script src="/javascript/homepage.js"></script>
<script src="/socket.io/socket.io.js"></script>
