
<div class="container-Fluid">
  <div class="col-12 d-flex justify-content-center">
    <div class="card">
  <h5 class="card-header">Waiting for other player to join</h5>
  <div class="card-body">
      wellcom to game number {{game}}
  </div>
</div>
  </div>

</div>


<script src="/javascript/play.js"></script>
<script>
    var socket = io();
    document.onload = joinedGame({{game}});
    socket.on('{{game}}', function(obj){
        play(obj);
    });
</script>