<div class="container-Fluid">
  <div class="col-12 d-flex justify-content-center">
    <div class="card">
  <div class="card-body">
       Welcome to Game #{{game}}
  </div>
</div>
  </div>

</div>


<!-- Modal new game-->
<div class="modal fade" id="nickName" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body rounded">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                
<form id="nickNameForm">
  <div>
  <h3 class="form-title">Join a Game</h3>
  </div>
  <div class="mb-3">
    <label for="nick" class="form-label">What nickname would you like to use?</label>
    <input type="text" class="form-control" id="nick" aria-describedby="emailHelp">
  </div>
  <a id="addNickName" class="game-btn" >PLAY</a>
</form>
      </div>
    </div>
  </div>
</div>

<!-- Game Layout -->
<div class="game-layout">
  <div><br>
    <h1 id="game-title">Welcome to Guess The Opinion!</h1>
  </div><br>

  <div id="instructions"
    <h2>For every question, give your best guess as to the most popular answer!</h2>
  </div><br>

  <!-- Question Display --->
  <div class="card" id="questions">
      <h5 class="card-header">Waiting for other players to join ...</h5>
  </div>
  
  <div>
    <form class="col-14"> 
      <input type="text" class="form-control" id="myAnswer" placeholder="Start typing here ...">
    </form><br>
    <button id="answerSubmit" class="submit-btn">Guess!</button>
  </div>
</div>
<!-- JS -->

<script src="/javascript/play.js"></script>
<script>
    var socket = io();
    document.onload = joinedGame({{game}});
    socket.on('{{game}}', function(obj){
      console.log('received a new transmission');
        play(obj);
    });
</script>